<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="plugin-name"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">

    <description>PHPCS configuration for plugin-name.</description>

    <file>.</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>

    <arg name="extensions" value="php"/>

    <rule ref="Apermo"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="plugin-name"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="plugin_name"/>
            </property>
        </properties>
    </rule>

    <config name="minimum_wp_version" value="6.2"/>

    <!-- Test bootstrap uses standard WP test globals, not plugin globals. -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <exclude-pattern>tests/bootstrap.php</exclude-pattern>
    </rule>
</ruleset>
