parameters:
    level: 6
    paths:
        - src
        - plugin.php
        - uninstall.php
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
    ignoreErrors:
        -
            message: '#class cli\\progress\\Bar#'
            reportUnmatched: false
        -
            message: '#Comparison operation .* between int<1, max> and 0 is always true#'
            path: src/CLI/ConvertCommand.php
            reportUnmatched: false
